
{% load static %}
Hello {{ name }}

<img src="{% static 'test.png' %}" />

{% for i in list %}

{% endfor %}

{% if name == 'Dima' %}
    this is Dima
{% endif %}

<script>

       const socket = io('ws://localhost:8050', {transports:['websocket']});  
       
    //    socket.on('connect', () => {
    //         console.log('connected!');
    //         socket.on('message', msg => {
    //             // console.log(msg);
    //             $('#time').html(msg.time);
    //         })
    //    });

</script>