{% load static %}
<!DOCTYPE html>
<html>
    <head><title>TypeScript Greeter</title>
        <script src="static/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="static/node_modules/socket.io/client-dist/socket.io.js"></script>
        <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" >
    </head>
    <body>
        <h1>Imaginarium</h1>

        {% block main %}
               
        {% endblock %}
        <style>
            body {
                padding: 10px;
            }
        </style>
    </body>
</html>




